
$black: #000000;
$darkest: #121212;
$darker: #282828;
$darkr: #303030;
$dark: #333333;
$darkgrey: #444444;
$grey: #757575;
$grey-lite: #d0d0d0;
$grey-laite: #e0e0e0;
$grey-light: #fafafa;
$white: #ffffff;

$blue-lightest: #F4F8FF;
$blue-lighter: #CBDAF8;
$blue-light: #A0B9E9;
$blue-dark: #7594D1;
$blue-darker: #5173B7;
$blue-darkest: #35599F;

$green-darker: #1F363D;
$green-darkest: #152429;

$bg-color: #36393f;
$box-color: #2f3136;
$bar-color: #282828;

$gap: 32px;
$tablet: 769px;
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);

$patreon-orange: #E85B46;


